</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119385599-1"></script>
<script>
if(location.href.indexOf("totalquartz360.com")>=0){
       console.log("google analytics enabled")
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119385599-1');
     }else console.log("google analytics disabled")
</script>

<script type="text/javascript" src="/js/manifest.382649b69ab54ed8ae46.js"></script><script type="text/javascript" src="/js/vendor.382649b69ab54ed8ae46.js"></script><script type="text/javascript" src="/js/main.382649b69ab54ed8ae46.js"></script><script type="text/javascript" src="/js/lib.382649b69ab54ed8ae46.js"></script></body>
</html>