<!DOCTYPE html>
<html>

<head>
  <title>
    <%- locales.__('meta_title') %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta property="og:url" content="https://totalquartz360.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Total Quartz - 360 Game" />
  <meta property="og:description" content="Find the hidden RobotQuartz and stand a chance to win amazing prizes" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://totalquartz360.com/src/img/share.jpg" />


  <!-- need robots.txt file in surge not working due to robots access. please check in other server -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Total Quartz - 360 Game" />
  <meta name="twitter:image" content="https://totalquartz360.com/src/img/share.jpg">
  <meta name="twitter:domain" content="https://totalquartz360.com" />
  <meta name="twitter:description" content="Find the hidden RobotQuartz and stand a chance to win amazing prizes">

  <link rel="icon" type="image/png" href="../../src/img/favicon.png" />
</head>

<body>
  <!--div class="orientationChange" style="display: none;">
	<div class="orientation">
		<i></i>
		<h5>Please change your orientation</h5>
		<h6>We recommend to switch off the auto rotate mode in your device</h6>
	</div>
</div-->
  <div class="container">